.MuiTablePagination-toolbar {
  display: none !important;
}

.pagination-custom {
  float: right;
}

.select-option-custom .MuiSelect-selectMenu {
  padding-top: 2px;
  padding-left: 15px;
  padding-bottom: 1px;
  padding-right: 35px;
}
