.dialog-width .MuiDialog-paper {
  width: 627px;
}

.btn-custom {
  color: #2f3542 !important;
  background-color: #1f236f00 !important;
  border: 1px solid rgba(47, 53, 66, 0.4) !important;
}

.btn-cancel-custom {
  position: relative;
  right: -17px;

  margin-top: -16px;
  margin-right: -16px;
  width: 48px;
  height: 48px;

  color: #2f3542 !important;
  background-color: #1f236f00 !important;
  border: 1px solid rgba(47, 53, 66, 0.4) !important;
}
